<head>
  <meta name="viewport" content="width=980">
</head>
<body>
  <div class="container">
    <h1><%= @contest_title %>エントリー一覧</h1>
    <div id="candidates">
      <% @entry_users.each do |entry_user| %>
        <div class="profile-thumbnail" data-candidate="<%= entry_user.id %>">
            <%= image_tag entry_user.top_image if picture_dir_exist?(entry_user) %>
            <p class="name"><%= entry_user.name %></p>
        </div>
      <% end %>
    </div>
    <% @entry_users.each do |entry_user| %>
      <div class="overlay <%= entry_user.id %>" style="display: none">
        <div class="window <%= "#{entry_user.id}" %>">
          <div class="upper">
            <div class="main-image-container">
                <%= image_tag entry_user.top_image if picture_dir_exist?(entry_user) %>
            </div>
            <div class="name_and_profile">
              <div class="name"><span class="nameText"><%= entry_user.name %></span><span class="nameBg"></span></div>
              <div class="profile"><%= entry_user.description %></div>
            </div>
          </div>
          <div class="photos">
            <% if picture_dir_exist?(entry_user) %>
              <% entry_user.other_images.each do |image| %>
                <%= image_tag image %>
              <% end %>
            <% end %>
          </div>
          <div class="links">
            <%= link_to entry_user.youtube_channel do %>
              <div class="link-button youtube">Youtube</div>
            <% end %>
            <%= link_to entry_user.twitter_url do %>
              <div class="link-button twitter">Twitter</div>
            <% end %>
            <% if entry_user.other_url %>
              <%= link_to entry_user.other_url do %>
                <div class="link-button other">その他</div>
              <% end %>
            <% end %>
          </div>
          <div class="vote">
            <% if logged_in? %>
              <%= form_with model: Vote, local: true, url: {controller: :votes, action: 'confirm'} do |f| %>
                <%= f.hidden_field :entry_user_id, value: entry_user.id %>
                <%= f.hidden_field :vote_user_id, value: current_user.id %>
                <%= f.submit "投票する！(一日一回)", class: "vote-button" %>
              <% end %>
            <% else %>
              <%= link_to "#" do %>
                <div class="login-button">ログインして投票する！（一日一回）</div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</body>