<div class="contents">
  <%= form_with model: @vote, local: true do |f| %>
    <%= image_tag @entry_user.top_image, class: "confirm-photo"%>
    <br>
    <p><%= @entry_user.name %>に投票します</p>
    <div class="actions">
      <%= f.submit '参加者一覧に戻る', name: 'back' %>
    </div>
    <%= recaptcha_tags %>
    <div class="actions">
      <%= f.submit '投票する' %>
    </div>
    <%= f.hidden_field :entry_user_id, value: @entry_user.id %>
    <%= f.hidden_field :vote_user_id, value: @vote_user.id %>
    <%= f.hidden_field :is_Mr, value: @entry_user.is_Mr %>
  <% end %>
</div>