<div class="contents">
  <%= form_with model: @vote, local: true do |f| %>
    <%= image_tag @entry_user.top_image, class: "confirm-photo"%>
    <br>
    <p><%= @entry_user.name %>に投票します</p>
    <div class="actions">
      <label for="back" class="button">参加者一覧に戻る</label>
      <%= f.submit '参加者一覧に戻る', name: 'back', id:"back", class:"d-none" %>
    </div>
    <%= recaptcha_tags %>
    <div class="actions">
      <label for="vote" class="button">投票する</label>
      <%= f.submit '投票する', id:"vote", class:"d-none" %>
    </div>
    <%= f.hidden_field :entry_user_id, value: @entry_user.id %>
    <%= f.hidden_field :vote_user_id, value: @vote_user.id %>
    <%= f.hidden_field :is_Mr, value: @entry_user.is_Mr %>
    <%= f.hidden_field :vote_user_uid, value: session[:user_id] %>
  <% end %>
</div>