<!DOCTYPE html>
<html>
  <head>
    <title>バーチャルミス・ミスターコンテスト | おもちゃLABO</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123802733-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-123802733-2');
    </script>
  </head>

  <body>
    <header>
      <%= link_to '/', class:"to_top" do %>
        <%= image_tag 'logo.png' %>
      <% end %>
      <% if logged_in? %>
        <%= link_to 'ログアウト', '/signout', class:"login"%>
      <% else %>
        <%= link_to 'Twitterでログイン', 'auth/twitter', class:"logout" if false %>
      <% end %>
    </header>

    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
